<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>nobel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>

  <h1>Die Auskunft über die Nobelpreistraeger</h1>   

      <p>im Fach:
        <a href="/winners/Chemistry">Chemistry</a><br>
      </p>
      <p>im Fach:
        <a href="/winners/Literature">Literature</a><br>
      </p>
      <p>im Fach:
        <a href="/winners/Medicine">Medicine</a><br>
      </p>
      <p>im Fach:
        <a href="/winners/Peace">Peace</a><br>
      </p>
      <p>im Fach:
        <a href="/winners/Physics">Physics</a><br>
      </p>
      
</body>

</html>
